@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #77af9c;
}

h1 {
  color: rgb(4, 4, 37);
}

#dog-img {
  background-color: #fff;
  margin: 10px;
  width: 400px;
  height: 400px;
  border-radius: 25px;
}

#dog-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

main {
  text-align: center;
}

button {
  border: 0;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 16px;
  background: rgb(25, 25, 194);
  color: white;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background: rgb(4, 4, 37);
}

@media (max-width: 650px) {
  body {
    width: 80%;
    margin: auto;
  }
}
